# VSCode
.vscode/
*.code-workspace

# ROS2 Bags
data/rosbags/
*.db3

# Ignore YAML files except in specific directories
*.yaml
!resources/**/*.yaml
!docker/**/*.yaml
!data/results/*.yaml
!hardware/**/*.yaml

# Build artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# OS
.DS_Store
Thumbs.db
